body {
  background-image: url("img/background.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}
.planet {
  width: 100vw;
  height: 100vh;
}
main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.5rem;
  text-align: justify;
}

article {
  color: #fff;
  margin-left: 1rem;
  margin-right: 2rem;
  padding: 0rem 2rem 2rem 2rem;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  background: rgba(0, 0, 0, 0.6);
}

article div {
  text-align: right;
  margin-bottom: 0.5rem;
}
